*{
    margin: 0;
    padding: 0;
}
.css-selector {
    font-family: 'Poppins', serif;
}
.css-selector2{
        font-family: 'Open Sans', serif;
}
.announcements__text{
    font: 16px / 40px ;
    background: #395183;
    float: left;
    color: #fff;
    margin: 0;
    padding-right: 55px;
    padding-left: 50px;
    padding-bottom: 19px;
    position: relative;
}
.catg_title{
    text-decoration: none;
    text-align: center;
}
.logo1{
    font-size: 30px;
}
.logo1 img{
       width: 80px;
}
.logo2 img{
    width: 80px;
}
.navbar_links{
    background-color: #c21717;
    border-radius: 50%;
    border-radius: 50px;
    padding: 10px;
}
.nav-link:hover{
    background-color: #f3aaaa;
    border-radius: 50px;
}
.announcements__text{
    font: 16px / 40px ;
    background: #c21717;
    float: left;
    color: white;
    margin: 0;
    padding-right: 55px;
    padding-left: 50px;
    padding-bottom: 9px;
    position: relative;
    padding-top: 9px;
}
.catg_title{
    text-decoration: none;
    text-align: center;
}

.imlogo-img{
    width: 25%;
}
.misc_text{
    font-size: 39px;
    color: #395183; 
    font-weight: 700;  
    border-bottom: 1px solid #395183;
    }
    .misc_textp{
    font-size: 18px;
    color: #395183;
    }
    .about{
        width: 50%;
        padding-left: 91px;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .data{
        padding-top: 10vh; 
        padding-left: 82vh;
    }
    .parallax {
        min-height: 200px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .images_logo2{
        width: 175px;
    }