*{
    margin: 0;
    padding: 0;
}
.css-selector {
    font-family: 'Poppins', serif;
}
.css-selector2{
    font-family: 'Open Sans', serif;
}
.announcements__text{
    font: 16px / 40px ;
    background: #395183;
    float: left;
    color: #fff;
    margin: 0;
    padding-right: 55px;
    padding-left: 50px;
    padding-bottom: 19px;
    position: relative;
}
.catg_title{
    text-decoration: none;
    text-align: center;
}
.logo1{
    font-size: 30px;
}
.logo1 img{
       width: 80px;
}
.logo2 img{
    width: 80px;
}
.navbar_links{
    background-color: #c21717;
    border-radius: 50%;
    border-radius: 50px;
    padding: 10px;
}
.nav-link:hover{
    background-color: #f3aaaa;
    border-radius: 50px;
}
.announcements__text{
    font: 16px / 40px ;
    background: #c21717;
    float: left;
    color: white;
    margin: 0;
    padding-right: 55px;
    padding-left: 50px;
    padding-bottom: 9px;
    position: relative;
    padding-top: 9px;
}
.catg_title{
    text-decoration: none;
    text-align: center;
}
.slider img{
    height: 530px;
    object-fit: cover;
}
.aboutimg{
    width: 45%;
    float: left;
    padding-right: 20px;
}
.heading h3{
    background: #f0dcdc;
    color: #c21717;
}
.parallax {
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.chairman_img{
    width: 85%;
}
.d_imgs{
    width: 75%;
}
.gallery_imgs{
    max-width: 100%; 
    height: auto; 
}
.modal-img{
    width: 100%;
}
.data{
    padding-top: 10vh; 
    padding-left: 82vh;
}
.imlogo-img{
    width: 25%;
}

.banner_text{
    color: white;
    max-width: 330px;
    position: absolute;
    z-index: 6;
    bottom: 43%;
    left: 5%;
    border-bottom: 1px solid #fff;
}
.banner_text2{
    color: white;
    max-width: 330px;
    position: absolute;
    z-index: 6;
    bottom: 30%;
    left: 5%;
    border-bottom: 1px solid #fff;
}


.parallax {
    min-height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    text-align: center;
}
.images_logo2{
    width: 200px;
}
.gallery_images{
    width: 75%;
}
.modal-img{
    width: 100%;
}
.images_logo2{
    width: 175px;
}
.data{
    padding-top: 10vh; 
    padding-left: 82vh;
}




.photo-gallery {
    color:#313437;
    background-color:#fff;
  }
  
  .photo-gallery p {
    color:#7d8285;
  }
  
  .photo-gallery h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .photo-gallery h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .photo-gallery .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto 40px;
  }
  
  .photo-gallery .intro p {
    margin-bottom:0;
  }
  
  .photo-gallery .photos {
    padding-bottom:20px;
  }
  
  .photo-gallery .item {
    padding-bottom:30px;
  }
  
  